# Predictive Analytics | Assignment 1

In [42]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import os, sys
import random

# configs
sns.set_style(style='darkgrid')
np.random.seed(18)
random.seed(18)

# data loading
- load data from different files
- combine the data into a single variable

In [43]:
BASE_DIR: str = "./data"

In [48]:
filesnames = os.listdir(BASE_DIR)
filesnames = [ f for f in filesnames if f.lower().endswith(".csv")]
data = list()
for fn in filesnames:
  d = pd.read_csv(f"{BASE_DIR}/{fn}")
  data.append(d)
  
df = pd.concat(data, ignore_index=True)
print(df.shape)
df.head()

(420, 3)

          Date  Actual  Goal
0  Jun 28 2022    7225  8000
1  Jun 29 2022    8819  8000
2  Jun 30 2022    5082  8000
3   Jul 1 2022    6819  8000
4   Jul 2 2022    5603  8000